body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game {
  width: 600px;
  height: 200px;
  border: 1px solid black;
}

#dino {
  width: 70px;
  height: 50px;
  background-image: url(img/trex.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  top: 150px;
}

.jump {
  animation: jump 0.3s linear;
}

@keyframes jump {
  0%,
  100% {
    top: 150px;
  }

  25%,
  75% {
    top: 100px;
  }

  50% {
    top: 50px;
  }
}

#cactus {
  width: 40px;
  height: 40px;
  background-image: url(img/cactus.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  top: 110px;
  left: 560px;
  animation: block 1.2s infinite linear;
}

@keyframes block {
  0% {
    left: 560px;
  }

  100% {
    left: -40px;
  }
}
